*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    width:100vw;
    background-color: rgb(190, 217, 245);
}

.navbar-brand span{
    
font-family: 'Lobster', cursive;
}
.navbar-brand:hover{
    color:aquamarine;
}
.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    color: rgb(22, 4, 88);
    text-transform:uppercase;
}

.nav-link:hover{
    color:aquamarine
}

.main-heading{
    font-size: 40px;
    color: rgb(5, 5, 87);
}
  
.logo{
    margin-left: 20px;
}

.nav-link{
    font-size: 20px;
}

.About{
    padding: 20px;
    margin: 30px;
    margin-top: 60px;
}

  .heading{
    font-size: 25px;
  }
.ab1{
    margin-right:40vw;
}
.ab2{
    margin-left: 40vw;
}

.para{
    background: #111;
    color: #fff;
    padding: 15px 23px;
    margin: 15px;
}
footer {
    background: #111;
}
.copy{
    padding: 15px 23px;
    color: #fff;
    text-align: center;
  }