*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    width:100vw;
    background-color: rgb(190, 217, 245);
}

.navbar-brand span{
    
font-family: 'Lobster', cursive;
}
.navbar-brand:hover{
    color:aquamarine;
}
.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    color: rgb(22, 4, 88);
    text-transform:uppercase;
}

.nav-link:hover{
    color:aquamarine
}

.main-heading{
    font-size: 40px;
    color: rgb(5, 5, 87);
}
  
.logo{
    margin-left: 20px;
}

.nav-link{
    font-size: 20px;
}

.slogan{
    font-size: 38px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(5, 5, 87);
    margin-top: 40px;
    font-weight: bold;
    text-align: center;
}
.image{
    height: 300px;
    width: 230px;
    margin-left: 95px;
    
    
}
.About{
    padding: 20px;
    margin-left: 30px;
}

  .heading{
    font-size: 25px;
    font-weight: bold;
  }
.ab1{
    margin-right:40vw;
}
.ab2{
    margin-left: 40vw;
}

.para1{
    background: #111;
    color: #fff;
    padding: 15px 23px;
    margin: 15px;
    margin-left: 85px;
}
.para2{
    background: #111;
    color: #fff;
    font-size: 18px;
    padding: 15px 23px;
    margin: 15px;
    margin-right: 85px;
}
footer {
    background: #111;
}
.copy{
    padding: 15px 23px;
    color: #fff;
    text-align: center;
  }

  .carousel-container{
    width: 900px;
    height: 1000px;
    overflow: hidden;
    margin-top: 150px;
    margin-left: 290px;
  }
  
  .card:hover{
    box-shadow: -2px -1px 25px -4px rgba(0,0,0,0.75);
-webkit-box-shadow: -2px -1px 25px -4px rgba(0,0,0,0.75);
-moz-box-shadow: -2px -1px 25px -4px rgba(0,0,0,0.75);
transition: 0.5s;
}

.card-title{
    font-size: 18px;
    font-weight: bold;
}
.main-container{
    background-image: url("https://media.istockphoto.com/id/1084742766/photo/rescued-under-water.jpg?s=612x612&w=0&k=20&c=TASMQTyG0LmV8c8LXCpEY8x7bv-rLQKu34EOeqn8-m0=");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
}
.text-n{
    text-align: center;
}